*{
    margin: 0;
    padding: 0;
}

.parent{
    background-color: mediumspringgreen;
    display: flex;
    height: 220px;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}

.box{
    color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(131, 240, 240);
}


.box2{
    width: 120px;
    height: 120px;
    background-color: rgb(29, 221, 221);
}

.box3{
    width: 140px;
    height: 140px;
    background-color: rgb(8, 48, 48);
    align-self: flex-start;
}

.box4{
    width: 160px;
    height: 160px;
    background-color: rgb(1, 31, 31);
}


.par2{
    display: flex;
    height: 100px;
    width: 100%;
}
.but{
    width: 400px;
    background-color: blueviolet;
    border: solid 2px black ;
}